*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.testsection{
    background-color: #252626;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    background-image:url(files/bg.svg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:transparent;
    overflow-x: hidden;
}
.normal{
    margin-bottom: -8px; 
    width: 100vw
} 

.reversed{
    margin-top: -8px;
    transform:rotate(180deg);
    width:100vw;
} 

.normal-x{ 
    margin-bottom:-8px;
    transform:rotateY(180deg)
}

.reversed-x{ 
    margin-top: -8px;
    transform:rotate(180deg);
    transform:rotateX(180deg);
    width:100vw;
}


header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: 12vh;
    width: 100vw;
    z-index: 10000;
    backdrop-filter: blur(5px);
}
.contentHead{
    display: flex;
    align-items: center;
    width: 50vw;
}
.secondpart{
    width: 50vw;
    display: flex;
    justify-content: end;
    padding-right: 5vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 3vw;
}
.anav{
all: unset;
color: white;
cursor: pointer;
font-size: 2.3vh;
}
.deco {
    display: inline-block;
    position: relative;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-bottom: 10px;
  }
.deco::after {
    margin-top: 5px;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
  }
  
  .deco:hover::after {
    margin-top: 5px;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.logo{
    width: 8vh;
    transition: transform 1s ease;  
}
.IconText{
    all: unset;
    font-size: 1.6vh;
    color: #87d2f6;
    font-weight: 500;
    margin-top: 0.6vh;
}
.logo:hover {
    transform: rotate(360deg);  
    cursor: pointer;
}
.discordinvite{
    all: unset;
    background-color: #0097b2;
    padding: 1.3vh 3vh;
    border-radius: 7px;
    cursor: pointer;
    color: #252626;
    font-weight: 600;
    border: #0097b2 2px solid;
    padding-top: -3vh;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.discordinvite:hover{
    all: unset;
    padding: 1.3vh 3vh;
    border-radius: 7px;
    cursor: pointer;
    color: #0097b2;
    font-weight: 600;
    border: #0097b2 2px solid;
    padding-top: -3vh;
    transition: color 0.5s ease, background-color 0.5s ease;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100vw;
    background-color: #252626;
    background-image: url(files/siusiaak.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-color:transparent;
    flex-direction: column;
    justify-content: space-around;
}
.mainText{
    color: white;
    font-size: 8vh;
    font-weight: 600;
    text-align: center;
}
.secondText{
    color: #0097b2;
    font-size: 2.2vh;
    font-weight: 400;
    text-align: center;
}
.more{
    all: unset;
    background-color: #0097b2;
    color: white;
    margin-top: 3vh;
    padding: 1.5vh 3vh;
    border-radius: 8px;
    cursor: pointer;
    border: #0097b2 2px solid;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.more:hover{
    all: unset;
    color: white;
    margin-top: 3vh;
    padding: 1.5vh 3vh;
    border-radius: 8px;
    cursor: pointer;
    border: #0097b2 2px solid;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.maincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
}

#stats{
    background-color: #252626;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.statistics{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 90vw;
}
.statcard{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
}
.statcard::before{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}

.statcard.shaded {
    transform: translateY(0);
    opacity: 1;
}

.statcard.shaded::before {
    opacity: 1;
}
.statimg{
    width: 10vw;
} 

.statnumber, .statdesc{
    text-align: center;
}
.statnumber{
    color: white;
    font-size: 7vh;
    font-weight: 600;
}
.statdesc{
    color: #0097b2;
    font-size: 2.5vh;
    font-weight: 300;
}
#team{
    display: flex;
    justify-content: center;
    background-color: #252626;
    padding: 9vh;
    flex-direction: column;
    padding-bottom: 20vh;
}
.mainteam{
    width: 100%;
    text-align: center;
    padding-bottom: 15vh;
    font-size: 7vh;
    color: #0097b2;
}

.teammember{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    padding: 2vh;
    background-color: #252626;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
margin-top: 8vh;
opacity: 0;
transform: translateY(100px);
transition: transform 0.8s ease, opacity 0.8s ease;
position: relative;
}
.memberimg{
    border-radius: 100%;
    width: 12vh;
    margin-bottom: 1vh;
    border: 1px solid rgb(172, 172, 172);
}
.membername{
    color: white;
    font-size: 2vh;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.4vh;
}
.memberRank{
    color: #0097b2;
    font-size: 1.8vh;
    font-weight: 400;
    text-align: center;
}
.teamcardtext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 1.5vh;

}
.nickname{
    color: white;
    font-size: 1.7vh;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.4vh;
}
.rank{
    color: #0097b2;
    font-size: 1.5vh;
    font-weight: 400;
    text-align: left;
}
.ownertext{
    color: white;
    font-size: 1.8vh;
    font-weight: 300;
    text-align: center;
    margin-top: 1vh;
    line-height: 2.5vh;
    width: 90%;
}
.teamimage{
    border-radius: 100%;
    width: 12vh;
    border: 1px solid rgb(172, 172, 172);
}
.team{
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
#teamup{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    padding-bottom: 8vh;
    border-bottom: 1px solid #8a8a8a;
    flex-wrap: wrap;
}
.teamdown{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap;
    padding-top: -3vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cm, .cs, .mt, .ct{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.cm, .cs, .mt{
    border-bottom: 1px solid #8a8a8a;
    padding-bottom: 8vh;
}
.cm, .ct{
    width: 80%;
}
.owner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 52vh;
    padding: 2vh;
    background-color: #252626;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
}
.owner::before{
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}
.owner.shaded {
    transform: translateY(0);
    opacity: 1;
}

.owner.shaded::before {
    opacity: 1;
}

.teammember::before{
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease;
}
.teammember.shaded {
    transform: translateY(0);
    opacity: 1;
}

.teammember.shaded::before {
    opacity: 1;
}
@media only screen and (max-width:1600px){
    .teammember{
        width: 30vh;
    }
}
@media only screen and (max-width: 1300px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        padding-left: 3vw;
    }
    .mainText{
        color: white;
        font-size: 8vh;
        font-weight: 600;
        text-align: center;
    }
    .secondText{
        color: #0097b2;
        font-size: 2.2vh;
        font-weight: 400;
        text-align: center;
    }
}
@media only screen and (max-width: 1200px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        padding-left: 2vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 60vw;
    }
    .secondpart{
        width: 40vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
}
@media only screen and (max-width: 1100px){
    .owner{
        margin-top: 5vh;
    }
    .mainteam{
        width: 100%;
        text-align: center;
        padding-bottom: 10vh;
        font-size: 7vh;
        color: #0097b2;
    }
}


@media only screen and (max-width: 950px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        padding-left: 4vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 65vw;
    }
    .anav{
        font-size: 2vh;
    }
    .secondpart{
        width: 35vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .maincontent{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        width: 90vw;
        flex-direction: column;
        justify-content: space-around;
    }
    .statnumber{
        color: white;
        font-size: 5vh;
        font-weight: 600;
    }
    .statdesc{
        color: #0097b2;
        font-size: 1.8vh;
        font-weight: 300;
    }
    .teammember{
        width: 28vh;
    }
    .cm, .ct{
        width: 100%;
    }
    #teamup{
        width: 80vw;
    }
    .memberimg{
        width: 10vh;
    }
    .teamimage{
        width: 10vh;
    }
}

@media only screen and (max-width: 700px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-left: 4vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 65vw;
    }
    .secondpart{
        width: 35vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
}

@media only screen and (max-width: 630px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 70vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
    .mainText{
        color: white;
        font-size: 6vh;
        font-weight: 600;
        text-align: center;
    }
    .secondText{
        color: #0097b2;
        font-size: 2vh;
        font-weight: 300;
        text-align: center;
    }
    .teammember{
        width: 60vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
  #team{
    padding: 2vh ;
  }
}

@media only screen and (max-width: 520px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 80vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
   header{
    padding-left: 2.5vh;
   }
   .statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-around;
}
.statcard{
    height: 25vh;
}
.statnumber{
    color: white;
    font-size: 5.5vh;
    font-weight: 600;
}
.statdesc{
    color: #0097b2;
    font-size: 1.8vh;
    font-weight: 300;
}
.statimg{
    width: 15vw;
} 
.teammember{
    margin-top:7vh;
}
.cm, .cs, .mt{
    padding-bottom: 4vh;
}
.teammember{
    width: 70vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.memberRank{
    font-size: 3.5vw;
}
.membername{
    font-size: 4vw;
}
.mainteam{
    font-size: 5vh;
}
}
@media only screen and (max-width: 450px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5vw;
    }
    .anav{
        font-size: 2vh;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 85vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
    .teammember{
        width: 60vh;
    }
    .memberRank{
        font-size: 2.3vh;
    }
    .membername{
        font-size: 2.5vh;
    }
}
@media only screen and (max-width: 400px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 7vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 80vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
    .statnumber{
        color: white;
        font-size: 6vh;
        font-weight: 600;
    }
    .statdesc{
        color: #0097b2;
        font-size: 2vh;
        font-weight: 300;
    }
}











