*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
body{
    background-image:url(files/bg.svg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:transparent;
    overflow-x: hidden;
}
.normal{margin-bottom: -8px; width: 100%}.reversed{margin-top: -8px;transform:rotate(180deg);width:100%;}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: 12vh;
    width: 100vw;
    z-index: 10000;
    backdrop-filter: blur(5px);
}
.contentHead{
    display: flex;
    align-items: center;
    width: 50vw;
}
.secondpart{
    width: 50vw;
    display: flex;
    justify-content: end;
    padding-right: 5vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 3vw;
}
.anav{
all: unset;
color: white;
cursor: pointer;
font-size: 2.3vh;
}
.deco {
    display: inline-block;
    position: relative;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-bottom: 10px;
  }
.deco::after {
    margin-top: 5px;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
  }
  
  .deco:hover::after {
    margin-top: 5px;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.logo{
    width: 8vh;
    transition: transform 1s ease;  
}
.IconText{
    all: unset;
    font-size: 1.6vh;
    color: #87d2f6;
    font-weight: 500;
    margin-top: 0.6vh;
}
.logo:hover {
    transform: rotate(360deg);  
    cursor: pointer;
}
.discordinvite{
    all: unset;
    background-color: #0097b2;
    padding: 1.3vh 3vh;
    border-radius: 7px;
    cursor: pointer;
    color: #252626;
    font-weight: 600;
    border: #0097b2 2px solid;
    padding-top: -3vh;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.discordinvite:hover{
    all: unset;
    padding: 1.3vh 3vh;
    border-radius: 7px;
    cursor: pointer;
    color: #0097b2;
    font-weight: 600;
    border: #0097b2 2px solid;
    padding-top: -3vh;
    transition: color 0.5s ease, background-color 0.5s ease;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100vw;
    background-color: #252626;
    background-image: url(files/siusiaak.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-color:transparent;
    flex-direction: column;
    justify-content: space-around;
}
.mainText{
    color: white;
    font-size: 8vh;
    font-weight: 600;
    text-align: center;
}
.secondText{
    color: #0097b2;
    font-size: 2.2vh;
    font-weight: 300;
    text-align: center;
}
.more{
    all: unset;
    background-color: #0097b2;
    color: white;
    margin-top: 3vh;
    padding: 1.5vh 3vh;
    border-radius: 8px;
    cursor: pointer;
    border: #0097b2 2px solid;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.more:hover{
    all: unset;
    color: white;
    margin-top: 3vh;
    padding: 1.5vh 3vh;
    border-radius: 8px;
    cursor: pointer;
    border: #0097b2 2px solid;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.maincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
}

#products{
    height: 100vh;
    background-color: #252626;
}

@media only screen and (max-width: 1300px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        padding-left: 3vw;
    }
}
@media only screen and (max-width: 1200px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        padding-left: 2vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 60vw;
    }
    .secondpart{
        width: 40vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
}

@media only screen and (max-width: 950px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        padding-left: 4vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 65vw;
    }
    .anav{
        font-size: 2vh;
    }
    .secondpart{
        width: 35vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .maincontent{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        width: 90vw;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 700px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-left: 4vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 65vw;
    }
    .secondpart{
        width: 35vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
}

@media only screen and (max-width: 630px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 70vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
    .mainText{
        color: white;
        font-size: 6vh;
        font-weight: 600;
        text-align: center;
    }
    .secondText{
        color: #0097b2;
        font-size: 2vh;
        font-weight: 300;
        text-align: center;
    }
}

@media only screen and (max-width: 520px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 80vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
   header{
    padding-left: 2.5vh;
   }
}
@media only screen and (max-width: 450px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 5vw;
    }
    .anav{
        font-size: 2vh;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 85vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
}
@media only screen and (max-width: 400px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 7vw;
    }
    .contentHead{
        display: flex;
        align-items: center;
        width: 80vw;
    }
    .secondpart{
        width: 0vw;
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }
    .discordinvite{
        visibility: hidden;
    }
}