body{
    background-color: #252626;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1{
    color: #87d2f6;
    font-size: 10vh;
    font-weight: 500;
    margin-top: 2vh;
    font-family: "Montserrat", sans-serif;
}